IotProject/__pycache__/__init__.cpython-38.pyc
IotProject/__pycache__/settings.cpython-38.pyc
app/migrations/__pycache__/__init__.cpython-310.pyc
IotProject/__pycache__/__init__.cpython-38.pyc
IotProject/__pycache__/__init__.cpython-310.pyc
IotProject/__pycache__/settings.cpython-38.pyc
IotProject/__pycache__/settings.cpython-310.pyc
IotProject/__pycache__/urls.cpython-310.pyc
IotProject/__pycache__/wsgi.cpython-310.pyc
